.mat-toolbar{
    display: block;
    position: fixed;
    z-index: 999;
    top: 0;
    padding-top: 30px;
    background-color: #ffffff00;
}
.mat-toolbar h1{
    font-size: 40px;
}
.main-container{
    padding-top: 200px;
}
